
<h1> component view </h1>
<!--
    <p>
    	<%= params.inspect %>
    </p>
-->
<% j = 1 %>



<p id= >
	<b><%= params[:status] %></b>
</p>
   <table border ="1"> 
      <tr>
	      <th>Ticket no.</th>
	     <!--
	      <th>Projectname</th>
	      <th>Component</th>
	      -->
	      <th>Days in triage</th>
	      <th>Time of creation</th>
	      
      </tr>
  



<% @dayall.each do |var| %>
  <% @hashcolumn = JSON.parse(var.componenthash) %>
  <% if var.day.to_s == params[:day].to_s %>
  <% @hashcolumn.each do |key,val| %>
  
  <%  if key == params[:status] %>


 <% for i in 0...val["no_of_tickets"] %>

<% if val["Hours"][i] == val["per_90"]%>

      <tr>
      <td><b><div class = highlight><%= val["Ticket"][i] %></div></b></td>
        
        
         <td><b><div class = highlight><%= val["Hours"][i] %></div></b></td> 
         <td><b><div class = highlight><%= val["InTriage"][i] %></div><b></td>
        
   </tr>
    <% elsif %>
    <% val["Hours"][i] == val["per_50"] %>
    <div class = highlighttwo><tr>
      <td><b><div class = highlighttwo><%= val["Ticket"][i] %></div></b></td>
        
        
         <td><b><div class = highlighttwo><%= val["Hours"][i] %></div></b></td> 
         <td><b><div class = highlighttwo><%= val["InTriage"][i] %></div><b></td>
        
   </tr></div>
   <%else%>
    <tr>
         <td><%= val["Ticket"][i] %></td>
    <td><%= val["Hours"][i] %></td> 
    <td><%= val["InTriage"][i] %></td>
    
    
    </tr>
    <% end %> 
    <%end%> <!--for loop --> 
    <% end %> <!-- first if -->
<% end %>
<% end %>
<%end %>

 </table>

 <%= link_to  'Weekly data', jiras_weeklyview_path %>

