<div style="text-align: center; background-image: url('/assets/Untitled.png'); background-repeat: no-repeat; background-size: cover; height: 90px; padding-top:10px"><h1>Custom view </h1></div>

<p style= "padding-bottom: 5px; padding-left: 5px"><b><%= params[:status] %></b></p>


<% arr = params["stat"] %>
<table border="1" style="background-color: #f2f6ce">
  <th >Day </th>
  <% arr.each do |status| %>
  <th><span style="padding-left :20px; padding-right : 20px"> <%= status %></span></th>
  <% end %>
  <tr>
  <% @dayall.each do |var| %>

  <% @hashcolumn = JSON.parse(var.componenthash) %>
  	<td><%= var.day %></td>
  	
  	<% arr.each do |status_one| %>
  	<% val = @hashcolumn[status_one] %>
  
  	<% if val.present? %>
  	<td>
  		<div style="text-align: center"> 
  			<b>#<%= link_to  val["no_of_tickets"], jiras_viewtickets_url(:status => status_one, :day => var.day)%></b> </div><br/> 
  			<div style = "color: #fa9a2e; padding-left :10px; padding-right : 10px"> <u><b>50%</u></b> <%= val["per_50"] %>  <b><u>90%</u></b> <%= val["per_90"] %></div>
  		
 </td>
<% else %>
<td> -- </td>
<% end %> 
<% end %>
<tr/>
<% end %>
</table>

<b><p style= "padding-top : 20px"><%= link_to  'Home', jiras_index_path %></p> </b>