<h1> Waiting in Triage </h1>
<% @dayall.each do |var| %>
<% @comp = JSON.parse(var.componenthash) %>
<% @varday = var.day %>
<%end%>
<% @threshold = 10 %>
<table>
<% @comp.each do |key, val| %>
	

	<%if val["per_90"] > @threshold %>
	
					<div class = red><%= link_to  key, jiras_viewtickets_url(:status => key, :day => @varday) %><br/><br/> <p style = "font-size: 12px">50%: <%= val["per_50"] %><br/>90%: <%= val["per_90"] %></p></div>		
		
	<% end %>		
<% end %>

<% @comp.each do |key, val| %>
    <%if val["per_90"] <= @threshold %>
			<div class = green><%= link_to key, jiras_viewtickets_url(:status => key, :day => @varday) %><br/><br/><p style = "font-size: 12px">50%: <%= val["per_50"] %><br/>90%: <%= val["per_90"] %></p></div>	
	<% end %>
<% end %>	

</table>

<p style="font-size: 14px"><b> <%= link_to  'Home', jiras_index_path %> </b><span style="padding-left :20px"><b><%= link_to  'Weekly data', jiras_weeklyview_path %></b></span> </p>
