<p id="notice"><%= notice %></p>
<h1 align = 'center', style = "font-size: 48px"> Welcome </h1>
<br>

<%= form_tag({controller:  "jiras", action: "customview"}, method: "get") do %>
<% arr = Jira.group(:status).map{|jira| [jira.status] } %>
<% arrs = DayDatum.all.map{|dayall| [dayall.day] } %>
<table>
<tr>
  <td>
<h3> Select a component </h3>
<%= select_tag :'stat[]', options_for_select(arr,'Accounts'), :class => 'cont', :multiple => 'true'  %>
</td>
<td> <td/><td/><td/>


<!--
<h3> Select a date </h3>
<%= select_tag :day, options_for_select(arrs, '2015-07-16 18:21:07 UTC'), :class => 'cont' %>
</td> 
-->
</tr>
</table>
<br/><br/>
 <div class="actions" >
    <%= submit_tag "Show Details", :class => 'submittag'%>
  </div>
  <% end %>
<br/><br/>
<%= link_to  'Weekly data', jiras_weeklyview_path %>
<p>
<%= link_to  'High level view', jiras_highlevel_path %>

