

<p id="notice"><%= notice %></p>
<h1 align = 'center', style = "font-size: 48px"> Welcome </h1>
<br>

<%= form_tag({controller:  "jiras", action: "customview"}, method: "get") do %>
<% arr = Jira.group(:component).map{|jira| [jira.component] } %>
<% arrs = DayDatum.group(:jirastatus).map{|dayall| [dayall.jirastatus] } %>
<table>
<tr>
  <td>
<h3> Select a component </h3>
<%= select_tag :'stat[]', options_for_select(arr,'Accounts'), :class => 'cont', :multiple => 'true'  %>
</td>
<td> <td/><td/><td/>



<h3> Select status </h3>
<%= select_tag :status, options_for_select(arrs, 'Waiting for Triage'), :class => 'cont' %>
</td> 

</tr>
</table>
<br/><br/>
 <div class="actions" >
    <%= submit_tag "Show Details", :class => 'submittag'%>
  </div>
  <% end %>
<br/><br/>
<%= link_to  'Weekly data', jiras_weeklyview_path %>
<p>
<%= link_to  'High level view', jiras_highlevel_path %>

