

<div style="text-align: center; background-image: url('/assets/Untitled.png'); background-repeat: no-repeat; background-size: cover; height: 90px"><h1 style="padding-top: 5px">Coupa Ticket Tracker</h1>

<table >
	<tr>
 <% @jirastatusarr.each do |x| %>
 <td>
 <%= form_tag({controller:  "jiras", action: "OpenSprintView"}, method: "get") do %>
 <%= hidden_field_tag "jirastatus", x %>
 <%= submit_tag x, :class => 'compbut' %>
 <% end %>
</td>
 <% end %>
</tr>
</table>
</div>
<% @dayall.each do |var| %>
<% @comp = JSON.parse(var.componenthash) %>
<% @varday = var.day %>
<%end%>
<% @threshold = 10 %>
<p style= "padding-bottom: 5px; padding-left: 5px"><b><%= params[:jirastatus] %><b></p>

<table>
	

<% @comp.each do |key, val|  %>

	
	
	<%if val["per_90"] > @threshold %>
	
					<div class = red><b><%= link_to  key, jiras_viewtickets_url(:status => key, :day => @varday) %></b><br/><br/> <p style = "font-size: 12px">#<%= val["no_of_tickets"] %><br/> 50%: <%= val["per_50"] %><br/>90%: <%= val["per_90"] %></p></div>		
	<% end %>	
	<% end %>		

<% @comp.each do |key, val|  %>

    <%if val["per_90"] <= @threshold %>
			<div class = green><b><%= link_to key, jiras_viewtickets_url(:status => key, :day => @varday) %></b><br/><br/><p style = "font-size: 12px">#<%= val["no_of_tickets"] %><br/>50%: <%= val["per_50"] %><br/>90%: <%= val["per_90"] %></p></div>	
	<% end %>
<% end %>
	

</table>