<p id="notice"><%= notice %></p>

<p>
  <strong>Issuekey:</strong>
  <%= @jira.issuekey %>
</p>

<p>
  <strong>Projectname:</strong>
  <%= @jira.projectname %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jira.status %>
</p>


<%= link_to 'Edit', edit_jira_path(@jira) %> |
<%= link_to 'Back', jiras_path %>
