<table >
	<tr>
 <% @jirastatusarr.each do |x| %>
 <td>
 <%= form_tag({controller:  "jiras", action: "weeklyview"}, method: "get") do %>
 <%= hidden_field_tag "jirastatus", x %>
 <%= submit_tag x, :class => 'compbut' %>
 <% end %>
</td>
 <% end %>
</tr>
</table>
<p style= "padding-bottom: 5px; padding-left: 5px"><b><%= params[:jirastatus] %></b></p>
<div class = random>
<table border="1">
  <th >Day </th>
<% @arr.each do |jira| %>
  <th><%= jira %> </th>
  <% end %>
  <tr>
  <% @daily.each do |var| %>

  <% @hashcolumn = JSON.parse(var.componenthash) %>
  	<td><%= var.day %></td>
<% @arr.each do |x| %>

<% val = @hashcolumn[x] %>
<% if val.present? %>
<td><b>#<%= link_to  val["no_of_tickets"], jiras_viewtickets_url(:status => x, :day => var.day)%></b> <br/> <u>50%</u><br/><%= val["per_50"] %><br/> <u>90%</u> <br/><%= val["per_90"] %>
</td>
<% else %>
 <td>--</td> 
<% end %>
<% end %> <!-- arr end -->
<tr/>
<% end %> <!-- dayall end -->
</table>
</div> 

<%= link_to  'Home', jiras_index_path %>
<%= link_to 'Chart View', jiras_chartview_path %>
 
